---
import misterlogo from "../assets/misterlogo.svg";
import { Image } from "astro:assets";
---

<nav class="navbar">
    <a class="logo" href="/">
        <Image src={misterlogo} alt="MisterDatos" loading="eager" />
    </a>

    <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
    <label for="menu-toggle" class="hamburger">
        <span class="sr-only">Abrir menú</span>
        <span></span>
        <span></span>
        <span></span>
    </label>

    <ul class="nav-links">
        <li><a href="/">Inicio</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/socials">Redes</a></li>
    </ul>
</nav>

<style>
    .navbar {
        height: 80px;
        max-height: 80px;
        position: sticky;
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--color-dark);
        z-index: 1000;
        border-bottom: 1px solid var(--color-primary);
    }

    .logo {
        display: flex;
    }

    .logo img {
        height: 50px;
        width: 150px;
        object-fit: contain;
        cursor: pointer;
    }

    .nav-links {
        position: fixed;
        list-style-type: none;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 75vw;
        max-width: 100%;
        background: var(--color-dark);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: var(--transition);
    }

    .nav-links a {
        font-size: 1.25rem;
        font-weight: 600;
        letter-spacing: 2px;
        color: var(--color-white);
        text-decoration: none;
    }

    .nav-links a:hover {
        color: var(--color-primary);
    }

    .menu-checkbox {
        display: none;
    }

    .menu-checkbox:checked ~ .nav-links {
        right: 0;
    }

    .hamburger {
        height: 20px;
        width: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1100;
    }

    .hamburger span {
        width: 100%;
        height: 4px;
        background: white;
        transition: 0.3s;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border-width: 0;
        white-space: nowrap;
    }

    @media (min-width: 768px) {
        .nav-links {
            width: 50vw;
        }
    }

</style>
